{% extends "base_navigation.html" %} <!--繼承自base_navigation.html的設定-->

{% block title %}
Flask_Dash_index
{% endblock %}

{% block head %}
{{ super() }}
<style>
    @media (min-width: 576px) {}

    @media (min-width: 768px) {}

    @media (min-width: 992px) {}

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}
</style>
{% endblock %}

<!--網頁內容-->
{% block content %}
    <div class="container-lg">
        <h1>flask_dashboard-更改-立刻-馬上_居然是改py檔才會更新</h1>
        {{super()}}
    </div>
{% endblock %}
<!--網頁底部-->
{% block footer %}
&copy; Copyright 2023 by <a href="https://flask-dash-web-uym5.onrender.com">KIMI</a>.
{% endblock %}