PythonInputPlus #input的工具模組
requests #爬東西用的模組
matplotlib #製作圖表用的模組
lineTool #透過lineTool發送訊息的模組
pillow #輔助tkinter做影像處理的模組
yfinance #yahoo的股票套件
tkintermapview #tkinker的地圖模組
psycopg2-binary #連接postgre資料庫套件


#程式類
#sqlite DB Browser for SQLite
#下載連結：https://sqlitebrowser.org/dl/
#pgadmin for postgre SQL
#下載連結：https://www.postgresql.org/ftp/pgadmin/pgadmin4/v7.8/windows/