{%extends "bs/base.html"%}
{%block title%}bootstrap{%endblock%}
{%block csslink%}
<link rel="stylesheet" href="{{url_for('static',filename='css/bs/index.css')}}">{%endblock%}

{%block head%}
{{super()}} <!--這一行的繼承base.html的設定-->
<style>
    body {
        background-color: black;
    }

    .one {
        background-color: beige;
    }

    .two {
        background-color: cadetblue;
    }

    .three {
        background-color: chartreuse;
    }
</style>
{%endblock%}

<!--使用bootstrap的十二欄位分法做三欄式的網頁版型-->
{%block main%}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xl-4 one">
            <h1>欄位一</h1>
            <p>我是欄位一的內容</p>
        </div>
        <div class="col-md-6 col-xl-4 two">
            <h1>欄位二</h1>
            <p>我是欄位二的內容</p>
        </div>
        <div class="col-md-6 col-xl-4 three">
            <h1>欄位三</h1>
            <p>我是欄位三的內容</p>
        </div>
    </div>
</div>

{%endblock%}