{% extends "base.html" %}

{% block title %}
    Flask_Dash_index
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        
        @media (min-width: 576px) { }
    
        @media (min-width: 768px) {}

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}

        @media (min-width: 1400px) {}
    </style>
{% endblock %}

<!--網頁內容-->
{% block content %}
{% endblock %}
<!--網頁底部-->
{% block footer %}
        &copy; Copyright 2023 by <a href="https://flask-dash-web-uym5.onrender.com">KIMI</a>.
{% endblock %}